* {
	box-sizing: border-box;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body, html, p, span {
	margin: 0;
	padding: 0;
	
}

.container {
	width: 100%;
	max-width: 1920px;
	min-width: 320px;
	min-height: 100vh;
}

.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	/* border: 1px solid green; */
	padding: 0 10px;
}